[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.mdf
*.ldf
*.ndf

appsettings.Development.json
appsettings.*.local.json
secrets.json
*.rsuser

.idea/
*.sln.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
*.lcov

publish/
*.pubxml
*.publishproj
